{%extends "layout.html"%}
{% block content %}
<div class="home">
     <h1>We are Finland!</h1>

     <!--<img src="https://ibb.co/tJRNZrb" alt="We are Oulu!">-->

     <a href="https://ibb.co/tJRNZrb">
          <img src="https://i.ibb.co/2kJL84j/home.jpg" alt="We are Oulu!" border="0" style="width:100%;height:200px;">
     </a>
     <br />
     <br />

     <p>In this project we record and showcase any types of personal experiences of hardships, as faced by the international community of University of Oulu. This includes people from all walks of life: students, staff and visitors alike.</p> 

     <p>The project takes place in two stages. Right now, we are interested in recording these experiences. Later on they will be showcased digitally in a Virtual Reality environment using avatars. In addition to recording your stories, you can also help us create the avatars in this stage!</p> 

     <p>The end goal of our deployment is fostering empathy through helping people get a sense of a different side of the local community through your experiences. </p>
     
     <p>If you are part of the international community of University of oulu (Student, Staff, Alumni, etc.) and would like to participate in the first step of our exciting project to help us collect data, please click on the below link to go to the survey:</p>
     
     <a href="https://forms.gle/N5waDmd6JLdn2Uq76" target="_blank" style="color:rgba(25, 25, 131, 0.993);font-size:32px;">To the Survey!</a>

<div>
{%endblock%}